<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">
            D4KEN TECH
        </p>
        <p class="subtitle">
            ようこそ。
        </p>
    </div>
</section>
