<div class="container">
    <h1 class="title">
        Hello World
    </h1>
    <p class="subtitle">
        My first website with <strong><a href="https://bulma.io/">Bulma</a></strong>!
    </p>
    <ul class="menu-list">
        {% for todo in todos %}
            <li>{% include 'partials/_todo', id:forloop.index %}</li>
        {% endfor %}
    </ul>

</div>
