{% layout 'partials/_layout' %}

{% block 'head' %}
    <link rel="stylesheet" href="css/chat.css">
{% endblock %}

{% block 'header' %}
{% include 'partials/_header' %}
{% endblock %}

<div><a id="reconnect"></a></div>
<button class="button is-info" id="sendButton">送信</button>
<span>通信状況: </span>
<span id="stats"></span>
<div id="chat"></div>
<input class="input" id="message" type="text" autofocus/>

<script>
  let _ws = null;
  init();

  function init() {
    let username = getUsername();

    if(!username) {
      sessionStorage.setItem('username', prompt('Enter username') || '')
      username = getUsername();
    }

    if(!username) {
      init();
      return;
    }
    let ws_url = `ws://localhost:3000/chatApp?username=${username}`

    _ws = new WebSocket(ws_url);

    _ws.onmessage = (message) => {
      message = JSON.parse(message.data);
      appendMessage(message);
    };

    _ws.onopen = () => {
      document.getElementById('stats').innerHTML = "Connected."
    }

    _ws.onclose = (event) => {
      _ws.send(JSON.stringify({
        message: event.reason.toString(),
        date: new Date().toLocaleString()
      }));
      event.target.value = '';
      document.getElementById('stats').innerHTML = "Disconnected."
      let child = document.getElementById('reconnect');
      child.setAttribute('class', 'button is-info');
      child.setAttribute('href', location.href);
      child.innerHTML = '再接続';
    }

    // ボタンでチャット送信
    let sendButton = document.getElementById('sendButton');
    sendButton.addEventListener('click', () => {
      _ws.send(JSON.stringify({
        message: document.getElementById('message').value,
        date: new Date().toLocaleString()
      }));
      document.getElementById('message').value = '';
    })

    // Enterキーでチャット送信
    document.addEventListener('keypress', (event) => {
      if(event.key == 'Enter') {
        _ws.send(JSON.stringify({
          message: event.target.value,
          date: new Date().toLocaleString()
        }));
        event.target.value = '';
      }
    })
  }

  function getUsername() {
    return sessionStorage.username;
  }

  function appendMessage(message) {
    document.getElementById('chat').innerHTML +=
      `
            <div>
                <b>${message.date}</b>
                <b>${message.sender}:</b>
                ${message.message}
            </div>

            `
  }
</script>
