<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
            font-family: Arial;
        }

        #chat {
            width: 100vw;
            height: 100vh;
            padding: 12px;
            overflow: hidden scroll;
        }

        #chat div {
            padding: 4px 0px;
        }

        #chat div b {
            color: #555;
        }

        input[type=text] {
            position: fixed;
            bottom: 10px;
            left: 12px;
            outline: none;
            width: 400px;
            border: #555 solid 1px;
            font-size: 14px;
            padding: 4px;
        }
    </style>
</head>
<body>
<h1>チャット</h1>
<header id="header"></header>
<div id="stats"></div>
<div id="chat"></div>
<input id="message" type="text" autofocus/>

<script>
  let _ws = null;
  init();

  function init() {
    let username = getUsername();

    if(!username) {
      sessionStorage.setItem('username', prompt('Enter username') || '')
      username = getUsername();
    }

    if(!username) {
      init();
      return;
    }
    
    var pro = "wss:";
    if (window.location.protocol == "http:") pro = "ws:";
    let ws_url = `${pro}//localhost:${window.location.port}/chatApp?username=${username}`;

    _ws = new WebSocket(ws_url);

    _ws.onmessage = (message) => {
      message = JSON.parse(message.data);
      appendMessage(message);
    };

    _ws.onopen = () => {
      document.getElementById('stats').innerHTML = "Connected."
    }

    _ws.onclose = (event) => {
      _ws.send(JSON.stringify({
        message: event.reason.toString(),
        date: new Date().toLocaleString()
      }));
      event.target.value = '';
      document.getElementById('stats').innerHTML = "Disconnected."
    }

    document.addEventListener('keypress', (event) => {
      if(event.key == 'Enter') {
        _ws.send(JSON.stringify({
          message: event.target.value,
          date: new Date().toLocaleString()
        }));
        event.target.value = '';
      }
    })
  }

  function getUsername() {
    return sessionStorage.username;
  }



  function appendMessage(message) {
    document.getElementById('chat').innerHTML +=
      `
            <div>
                <b>${message.date}</b>
                <b>${message.sender}:</b>
                ${message.message}
            </div>

            `
  }
</script>
</body>
</html>
