{% layout 'partials/_layout' %}

{% block 'header' %}
  {% include 'partials/_header' %}
{% endblock %}

{% block 'section' %}
    {% include 'partials/_section' %}
{% endblock %}


<a class="button is-primary" href="/chat">チャットに参加する</a>

{% block 'footer' %}
{% include 'partials/_footer' %}
<script>
  let intervalID;
  let value = 0;

  function stopTimer() {
    if (!intervalID) {
      startTimer()
      document.getElementById("timer").innerText = "Stop";
    } else {
      clearInterval(intervalID);
      intervalID = null;
      document.getElementById("timer").innerText = "Start";
    }
  };

  const startTimer = () => {
    intervalID = setInterval(() => {
      value += 1;
      document.getElementById("progress").setAttribute("value", value.toString());
      if(value > 100) {
        value = 0;
      }
    }, 100);
  };

  startTimer()
</script>
{% endblock %}
