{% layout 'partials/_layout' %}

{% block 'header' %}
  {% include 'partials/_header' %}
{% endblock %}

{% block 'section' %}
    {% include 'partials/_section' %}
{% endblock %}

<progress id="progress" class="progress is-danger" value="0" max="100">90%</progress>
<button id="timer" class="button" onclick="stopTimer()">Stop</button>

{% block 'footer' %}
    {% include 'partials/_footer' %}
{% endblock %}