{% layout 'partials/_layout' %}

{% block 'header' %}
  {% include 'partials/_header' %}
{% endblock %}

{% block 'section' %}
    {% include 'partials/_section' %}
{% endblock %}

<form class="box">
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email" placeholder="e.g. alex@example.com">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="********">
    </div>
  </div>

  <button class="button is-primary">Sign in</button>
</form>

<progress id="progress" class="progress is-danger" value="0" max="100">90%</progress>
<button id="timer" class="button" onclick="stopTimer()">Stop</button>

{% block 'footer' %}
<script>
  let intervalID;
  let value = 0;

  function stopTimer() {
    if (!intervalID) {
      startTimer()
      document.getElementById("timer").innerText = "Stop";
    } else {
      clearInterval(intervalID);
      intervalID = null;
      document.getElementById("timer").innerText = "Start";
    }
  };

  const startTimer = () => {
    intervalID = setInterval(() => {
      value += 1;
      document.getElementById("progress").setAttribute("value", value.toString());
      if(value > 100) {
        value = 0;
      }
    }, 100);
  };

  startTimer()
</script>
{% endblock %}
